@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

.resImage {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 1rem;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnDog {
    width: 15rem;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: white;
    border-radius: 3px;
    border: 2px solid black
}

#btnDog:active {
    box-shadow: 0.2rem 0.2rem 4px black;
}

#btnDog:hover, #btnDog:focus {
    border: 2px solid blue;
}
